<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-thrusters">
  <xacro:include filename="$(find wamv_description)/urdf/thrusters/engine.xacro" />
    <!-- === engine === -->
      <xacro:engine prefix="center_thruster" position="0.0 0.0 0.318237" orientation="0.0 0.0 1.570796" />
      <xacro:engine prefix="left_thruster" position="-2.373776 1.027135 0.318237" orientation="0.0 0.0 0.0" />
      <xacro:engine prefix="right_thruster" position="-2.373776 -1.027135 0.318237" orientation="0.0 0.0 0.0" />

  <gazebo>
    <plugin name="wamv_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>1.0</cmdTimeout>
      <robotNamespace>${namespace}</robotNamespace>
      <xacro:include filename="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_gazebo_thruster_config.xacro" />
        <xacro:wamv_gazebo_thruster_config name="center_thruster" />
        <xacro:wamv_gazebo_thruster_config name="left_thruster" />
        <xacro:wamv_gazebo_thruster_config name="right_thruster" />
    </plugin>
  </gazebo>
</robot>