################################################
###### SINGABOAT-VRX Python3 Dependencies ######
################################################

numpy==1.22.3
scipy==1.8.0
pymap3d==2.7.2
open3d==0.13.0
dubins==1.0.1
