<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-components">
  <xacro:macro name="yaml_components">
    <!-- === wamv_camera === -->
      <xacro:wamv_camera name="center_camera" x="0.875" y="0.0" P="${radians(15)}" Y="${radians(0)}" />
      <xacro:wamv_camera name="left_camera" x="0.8" y="0.2" P="${radians(15)}" Y="${radians(0)}" />
      <xacro:wamv_camera name="right_camera" x="0.8" y="-0.2" P="${radians(15)}" Y="${radians(0)}" />

    <!-- === wamv_gps === -->
      <xacro:wamv_gps name="gps" x="-0.85" y="0.0" />

    <!-- === wamv_imu === -->
      <xacro:wamv_imu name="imu" x="-0.8" y="0.0" />

    <!-- === lidar === -->
      <xacro:lidar name="lidar" type="16_beam" z="1.85" P="${radians(15)}" />

    <!-- === wamv_ball_shooter === -->
      <xacro:wamv_ball_shooter name="ball_shooter" x="0.55" y="-0.445" z="1.3" pitch="${radians(-45)}" yaw="${radians(0)}" />

  </xacro:macro>
</robot>