<?xml version="1.0" ?>

<!-- World containing only open ocean model -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="open_ocean">
    
    <!-- Scene Settings -->
    <scene>
      <sky>
        <clouds>
          <speed>12</speed>
        </clouds>
      </sky>
      <grid>0</grid>
      <origin_visual>0</origin_visual>
    </scene>
    
    <!-- Estimated GPS Coordinates of Sydney Regatta -->
    <spherical_coordinates>
      <surface_model>EARTH_WGS84</surface_model>
      <world_frame_orientation>ENU</world_frame_orientation>
      <latitude_deg>-33.724223</latitude_deg>
      <longitude_deg>150.679736</longitude_deg>
      <elevation>0.0</elevation>
      <heading_deg>0.0</heading_deg>
    </spherical_coordinates>
    
    <!-- Sun -->
    <include>
      <uri>model://sun</uri>
    </include>
  
    <!-- Waves -->
    <xacro:include filename="$(find wave_gazebo)/world_models/ocean_waves/model.xacro"/>
    <xacro:ocean_waves scale="2.5"/>
    
    <!-- Wind -->
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/usv_wind_plugin.xacro"/>
    <xacro:usv_wind_gazebo>
      <wind_objs>
        <wind_obj>
          <name>wamv</name>
          <link_name>wamv/base_link</link_name>
          <coeff_vector>0.5 0.5 0.33</coeff_vector>
        </wind_obj>
      </wind_objs>
    </xacro:usv_wind_gazebo>
    
    <!-- Initial View -->
    <gui fullscreen='0'>
      <camera name='user_camera'>
        <pose>-478.101746 148.200836 13.203143 0.0 0.248344 2.936862</pose>
        <view_controller>orbit</view_controller>
      </camera>
      <!--<plugin name="GUITaskWidget" filename="libgui_task_widget.so"/>-->
    </gui>
    
  </world>
</sdf>
