<?xml version="1.0"?>

<launch>
  
  <!-- SINGABOAT-VRX Semantic Navigation -->
  <node pkg="singaboat_vrx" type="singaboat_semantic_navigation.py" name="singaboat_semantic_navigation" output="screen"/>
 
  <!-- SINGABOAT-VRX IK Solver -->
  <node pkg="singaboat_vrx" type="singaboat_ik_solver.py" name="singaboat_ik_solver"/>

  <!-- SINGABOAT-VRX RQT Reconfigure -->
  <!--node pkg="rqt_reconfigure" type="rqt_reconfigure" name="semantic_navigation_config"/-->

</launch>
