<?xml version="1.0"?>

<launch>
  
  <!-- SINGABOAT-VRX Semantic Navigation Gazebo Simulation -->
  <include file="$(find vrx_gazebo)/launch/wildlife.launch">
  
    <!-- SINGABOAT-VRX Semantic Navigation Gazebo World -->
    <arg name="world" value="$(find vrx_gazebo)/worlds/wildlife_task.world"/>
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_practice/wildlife0.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_practice/wildlife1.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_practice/wildlife2.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_phase2/wildlife0.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_phase2/wildlife1.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_phase2/wildlife2.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_phase2/wildlife3.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_phase2/wildlife4.world"/-->
    <!--arg name="world" value="$(find vrx_gazebo)/worlds/2022_phase2/wildlife5.world"/-->
 
    <!-- SINGABOAT-VRX WAM-V URDF -->
    <arg name="urdf" value="$(find singaboat_vrx)/urdf/singaboat.urdf"/>
    
    <!-- SINGABOAT-VRX WAM-V Default Pose -->
    <arg name="x" default="-532"/>
    <arg name="y" default="162"/>
    <arg name="z" default="0.1"/>
    <arg name="P" default="0"/>
    <arg name="R" default="0"/>
    <arg name="Y" default="1"/>
    
    <!-- SINGABOAT-VRX Start Simulation Paused -->
    <arg name="paused" value="true"/>
    
  </include>
  
  <!-- SINGABOAT-VRX Semantic Navigation -->
  <node pkg="singaboat_vrx" type="singaboat_semantic_navigation.py" name="singaboat_semantic_navigation" output="screen"/>
 
  <!-- SINGABOAT-VRX Inverse Kinematics -->
  <node pkg="singaboat_vrx" type="singaboat_inverse_kinematics.py" name="singaboat_inverse_kinematics" output="screen"/>
  
  <!-- SINGABOAT-VRX Bag Export Directory -->
  <arg name="rosbag_dir" default="$(find singaboat_vrx)/bags"/>
  
  <!-- SINGABOAT-VRX Record Bag Files -->
  <node pkg="rosbag" type="record" name="singaboat_data_recorder" args="-O $(arg rosbag_dir)/singaboat_semantic_navigation.bag -x '(.*)/compressed(.*)'"/>

</launch>
